{# twig шаблон для содержимого битрикс компонента #}
<?php
defined('B_PROLOG_INCLUDED') || die;

class {{ name }} extends CBitrixComponent
{
{% if prepare %}
    public function prepareParams($params)
    {
        return $params;
    }

{% endif %}
    public function executeComponent()
    {
        $this->includeComponentTemplate();
    }
}
